<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment Added</title>
  </head>
  <body>
    <h1>Assignment Added</h1>
    <h2>This assignment was added</h2>
    Name:{{assignment}}
    <br />
    Score:{{score}}
    <br />
    Total:{{total}}
    <br />
    Completed:{{complete}}
    <br />
    <a href="/seeAllAssignments">See all assignments</a>
  </body>
</html>