<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Assignment Details</title>
  </head>
  <body>
    <div class="assignmentDetails">
      <h1>Add an Assignment</h1>
      <form method="POST" action="/submit">
      <label style="font-size:1.7rem; font-weight:900;">Assignment Name</label>
          <input style="margin: 15px 0; padding:5px;" type="text" name="assignment" />
      <br>
      <label style="font-size:1.7rem; font-weight:900;">Your Score</label>
          <input style="margin: 15px 0; padding:5px;" type="text" name="score" /> 
      <br>
      <label style="font-size:1.7rem; font-weight:900;">Total Possible Score</label>
          <input style="margin: 15px 0; padding:5px;" type="text" name="total" />
      <br>
      <input style="margin: 15px 0; width:20px; height:20px; padding:5px;" type="checkbox"  name="complete" />
      <label style="font-size:1.7rem; font-weight:900;">Have you completed this assignment?</label>
      <br>
      <input
              style="padding: 5px 8px; font-size:1.2rem; margin:10px 0;"
              type="submit"
              value="Add"
            />
         <a style="font-size:1.5rem; margin-left:10px; font-weight:900;"  href="/never-mind">Never Mind</a>
      </form>
      </div>
    </div>
  </body>
</html>