<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Delete Assignment</title>
  </head>
  <body>
    <div class="deleteAssgn">
      <h1 style="font-size: 3rem; margin-top:0;">Assignment Deleted</h1>
      <h2 class="assgnDeleted">This assignment has been deleted</h2>
      <h1>
        Name:
        <span
          style="font-size: 1.7rem; font-weight:lighter; font-family: "Smooch Sans", sans-serif;"
        >{{assignment}}</span></h1>
      <div style="margin:10px 0;">
        <a style="font-size: 1.7rem; color:blue" href="/seeAllAssignments">See all
          assignments</a>
      </div>
    </div>
  </body>
</html>